In [1]:
n  = int(input())
cnt = {'восток': 0, 'север': 0}

for i in range(n):
    enter = input().split()
    if enter[0] == 'север':
        cnt['север'] += int(enter[1])
    elif enter[0] == 'юг':
        cnt['север'] -= int(enter[1])
    elif enter[0] == 'восток':
        cnt['восток'] += int(enter[1])
    elif enter[0] == 'запад':
        cnt['восток'] -= int(enter[1])
print(*[v for k, v in cnt.items()])

4
север 10
восток 50
запад 40
юг 30
-20 10

In [ ]:
n=int(input())
d={'север':0,'запад':0,'юг':0,'восток':0}
for i in range(n):
    x=input().split()
    d[x[0]]+=int(x[1])
print(d['восток']-d['запад'], d['север']-d['юг'])

6	Вяххи	159
 
11	Федотов	172
 
7	Бондарев	158
 
6	Чайкина	153

In [18]:
data = open('/home/ser_yk/Загрузки/dataset_3380_5.txt')
cnt = {}
row = data.readline().split()

while row:
    if row[0] not in cnt:
        cnt[row[0]] = {'q-ty': 1, 'sum': int(row[2])}
    else:
        cnt[row[0]]['q-ty'] += 1
        cnt[row[0]]['sum'] += int(row[2])
    row = data.readline().split()
    
for i in range(1,12):
    if str(i) not in cnt:
        print(str(i), '-')
    else:
        print(str(i), round(cnt[str(i)]['sum'] / cnt[str(i)]['q-ty'], 5))

1 123.66667
2 131.0
3 135.0
4 139.0
5 144.83333
6 155.73333
7 159.85714
8 165.69231
9 170.0
10 170.08333
11 177.0

In [19]:
import pandas as pd

df = pd.read_table('C:\\Users\\User\\Desktop\\py_course\\dataset_3380_5.txt', header=None, sep=r'\s{1,}')
print(df.groupby(0).mean())

ModuleNotFoundError: No module named 'pandas'